@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0 98px;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;
    background-color: #FEAFC3;
}

.main-container {
    flex-grow: 1;
    max-width: 1170px;
    margin: 0;
}

/* start - general text styles from the styleguide - start */ 

.style-header-1 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    color: #2D3440;
}

.style-header-2 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    color: #2D3440;
}

.style-header-3 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
}

.style-header-4 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;  
}

.style-header-5 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2D3440;
}

.style-paragraph-1 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;
}

.style-paragraph-2 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

.style-paragraph-3 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
}

.style-paragraph-bold {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
}

.style-caption-1 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #565C66;
}

.style-caption-bold {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #565C66;
}

.style-caption-2 {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #565C66;
}

/* end - general button styles from the styleguide - end */

/* start - general button styles from the styleguide - start */

.button-general {
    background: #FCFCFC;
    border: 4px solid rgba(252, 252, 252);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2D3440;
    text-decoration: none;
    padding: 12px 32px;
}

.button-additional-light {
    background: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FCFCFC;
    text-decoration: none;
    padding: 12px 32px;
}

.button-additional-bright {
    background-color: rgba(252, 252, 252, 0.3);    
    border: 2px solid #FCFCFC;
    border-radius: 20px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    padding: 12px 32px;
}

/* end - general button styles from the styleguide - end */

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.navigaton {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 24px 0;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.navigation-link {
    color: #2D3440;
    text-decoration: none;
}

.navigation-link.current {
    padding: 8px 16px;
    background: #FF4A78;
    border-radius: 30px;
    color: #FCFCFC;
}

.contact-phone {
    color: #2D3440;
    text-decoration: none;
}
.search-link {
    background-image: url("images/Search.svg");
    border-radius: 27px;
    background-repeat: no-repeat;
    background: rgba(252, 252, 252, 0.3);
}

.navigation-link-user {
    background: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    text-decoration: none;
    background-repeat: no-repeat;
    border-radius: 30px;
    background-position: 16px 8px;
    padding: 6px 16px 6px 38px;
}

.login-link {
    background-image: url("images/Log-in.svg");
}

.cart-link {
    background-image: url("images/Cart.svg");
}

.mainpage-top-slider-images li {
    list-style: none;
}

.mainpage-top-slider-button {
    appearance: none;
    background: rgba(252, 252, 252, 0.3);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100px;
    border: 2px solid #FCFCFC;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.mainpage-top-slider-button.prev {
    background-image: url("images/Arrow-left.svg");
}

.mainpage-top-slider-button.next {
    background-image: url("images/Arrow-right.svg");
}

.slider-pagination-item {
    appearance: none;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 100px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.slider-pagination-item.current {
    background: rgba(252, 252, 252, 1)
}

.mainpage-special-offering {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.mainpage-special-offering-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

.mainpage-special-offering-item {
    margin: 0;
    padding: 0;
    border-radius: 16px;
    background: #FF7799;
    background-repeat: no-repeat;
    background-position: 100%;
    width: 570px;
    height: 268px;
}

.mainpage-special-offering-item.gift-raspberry {
    background-image: url("images/Raspberry-gift.png");
}

.mainpage-special-offering-item.gift-marshmallow {
    background-image: url("images/marshmallow-gift.png");
}

.mainpage-special-offering-item-description {
    color: #2D3440;
}

.products-list-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
}

.products-list-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 332px;
    align-items: center;
    background: #FCFCFC;
    border-radius: 8px;
}

.products-list-item-image {
    width: 168px;
    height: 168px;
}

.button-add-to-cart {
    background: #FF2F64;
    border-radius: 26px;
    background-image: url("images/Cart.svg");
    background-repeat: no-repeat;
}

.mainpage-advantades {
    background-image: url("images/waffel-background.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 0;
    padding: 24px;
    background-size: 100% 100%;
}

.mainpage-advantades-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1122px;
    height: 432px;
    background: #FFFFFF;
    border-radius: 16px;
}

.mainpage-about-advantades-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainpage-about-advantades-item {
    max-width: 442px;
}
.technologies {
    list-style-image: url("images/ice-cream.svg");
}

.quality {
    list-style-image: url("images/leaf.svg");
}

.ingredients {
    list-style-image: url("images/cow.svg");
}

.delivery {
    list-style-image: url("images/thermometer.svg");
}

.main-page-article-preview {
    background-image: url("images/news.jpg");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 570px;
    height: 224px;
}

.mainpage-learn-more {
    
}

.main-page-subscribe-email {
    background-image: url("images/subscribe.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 570px;
    height: 224px;
}

.main-page-subscribe-email-wrapper {
    background: #FFFFFF;
    border-radius: 16px;
}

.field {
    background: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #B9B9B9;
    border-radius: 4px;
    padding: 14px 16px 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.maimpage-delivery {
    background-image: url("images/delivery.jpg");
    background-repeat: no-repeat;
    height: 492px;
    border-radius: 16px;
}

.delivery-form {
    background: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

section.mainpage-address {
    background-image: url("images/contacts.jpg");
    border-radius: 16px;
    background-repeat: no-repeat;
    height: 492px;
}

.form-label.style-paragraph-bold {
    color: #2D3440;
}

.mainpage-address address{
    background: #FCFCFC;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.page-footer {
    border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.mainpage-footer-links {
    list-style: none;
}

.mainpage-footer-links-item {
    text-decoration: none;
    color: #2D3440;
}

.mainpage-footer-links-item-highlight {
    list-style-image: url("images/Heart-fill.svg");
    font-weight: 700;
}

.footer-copyright-caption {
    text-decoration: none;
    color: #2D3440;
}

.breadcrump-menu-item {
    font-style: normal;
    text-decoration: none;
    color: #2D3440;
}

.breadcrump-menu .current {
    text-decoration: underline;
}

.catalog-filters {
    color: #2D3440;
}

.catalog-filters select, 
.catalog-price, 
.catalog-filter-list {
    color: #2D3440;
    background: rgba(252, 252, 252,0.3);
    border-radius: 20px;
    border-width: 0px;
    height: 36px;
}

.catalog-filter-item {
    list-style: none;
}

.catalog-pagination-item {
    list-style: none;
}

.catalog-pagination-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.pagination-current {
    background: #FCFCFC;
    border-radius: 76px;
    padding: 2px 8px;
}

.catalog-pagination {
    background-repeat: no-repeat;
}

.catalog-pagination.prev {
    background-image: url("images/Arrow-left.svg");
}

.catalog-pagination.next {
    background-image: url("images/Arrow-right.svg");
}

.mainpage-social-item {
}

.button-social-link {
    background-repeat: no-repeat;
    background-position: center center;
}

.button-social-link.vk {
    background-image: url("images/vk.svg");
}

.button-social-link.tg {
    background-image: url("images/telegram.svg");
}

.button-social-link.yt {
    background-image: url("images/youtube.svg");
}

/* containers - start */ 
.mainpage-top-slider {
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.mainpage-top-slider-slide {
    max-width: 1170px;
    display: flex;
    min-height: 100%;
}

.mainpage-top-slider-images {
    max-width: 1170px;
    display: flex;
    min-height: 100%;
}

.mainpage-top-slider-buttons {

}