@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2D3440;
    background-color: #FEAFC3;
}

.main-container {
    flex-grow: 1;
    max-width: 100%;
    margin: 0;
}

/* General text styles */

.style-h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.style-h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.style-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.style-h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #2D3440;
}

.style-h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.style-p1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.style-p2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

.style-p3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
}

.style-pb {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
}

.style-c1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.style-cb {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #565C66;
}

.style-c2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #565C66;
}

/* Buttons */

.btn {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* White btn */

.btn-general {
    background: #FCFCFC;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1),
    0px 0px 0px 4px rgba(252, 252, 252, 0.4);
    border-radius: 26px;
    border-style: none;
    color: #2D3440;
    padding: 14px 34px;
    position: relative;
}

.btn-general:hover {
    background: rgba(252, 252, 252, 0.4);
    box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15), 0 0 0 4px #FCFCFC;
}

.btn-general:focus {
    background: rgba(252, 252, 252, 0.4);
    box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15),
    0 0 0 2px #2D3440;
}

.btn-general:active {
    background: #FCFCFC;
    box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15),
    0 0 0 2px #2D3440;
}

.btn-general:disabled {
    background: rgba(231, 231, 231, 1);
    color: rgba(185, 185, 185, 1);
    font-weight: 400;
}

.btn-general.loading {
    padding: 14px 56px 14px 34px;
}

.btn-general.loading::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-color: #242424 transparent transparent transparent;
    right: 32px;
    border-radius: 16px;
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(45deg);
}

.btn-general.loading::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #242424;
    opacity: 0.24;
    right: 32px;
    border-radius: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Pink btn */

.btn-pink {
    background: #FF2F64;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1),
    0 0 0 4px rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    color: #FCFCFC;
    padding: 14px 34px;
    position: relative;
}

.btn-pink:hover {
    background: rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 0 4px rgba(255, 47, 100, 1);
    color: #2D3440;
}

.btn-pink:focus {
    background: rgba(254, 175, 195, 1);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1),
    0 0 0 2px #2D3440;
    color: #FCFCFC;
}

.btn-pink:active {
    background: #FF2F64;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1),
    0 0 0 2px #2D3440;
    color: #FCFCFC;
}

.btn-pink:disabled {
    background: #B9B9B9;
    box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
    color: #565C66;
    font-weight: 400;
}

.btn-pink.loading {
    padding: 14px 56px 14px 34px;
}

.btn-pink.loading::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-color: #FCFCFC transparent transparent transparent;
    right: 32px;
    border-radius: 16px;
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(45deg);
}

.btn-pink.loading::before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #FCFCFC;
    opacity: 0.25;
    right: 32px;
    border-radius: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Light btn */

.btn-light {
    background-color: rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 0 2px #FCFCFC;
    font-size: 14px;
    border-radius: 20px;
    color: #2D3440;
    padding: 8px 52.5px;
}

.btn-light:hover {
    background: #FCFCFC;
    box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.btn-light:focus {
    background: rgba(252, 252, 252, 0.5);
    box-shadow: none;
}

.btn-light:active {
    background:  rgba(252, 252, 252, 0.3);
    box-shadow: 0 0 0 2px #2D3440;
}

.btn-light:disabled {
    opacity: 0.4;
}

/* To hide texts */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.header {
    max-width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: auto 0;
    min-height: 104px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    list-style: none;
    padding: 0;
}

.nav-link.logo {
    display: flex;
    margin: auto 0;
    padding: 0 16px 0 0;
}

.nav-item {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    margin: auto 0;
}

.nav-item.btn-style {
    margin: auto 8px;
}

.btn-style:nth-child(2) {
    margin-left: 0;
}

.btn-style:last-child {
    margin-right: 0;
}

.nav-link {
    padding: 8px;
    color: #2D3440;
    text-decoration: none;
    margin: auto 8px;
}

.nav-link-user {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    background: rgba(252, 252, 252, 0.3);
    border: 2px solid transparent;
    color: #2D3440;
    text-decoration: none;
    background-repeat: no-repeat;
    border-radius: 30px;
    line-height: 1;
    padding: 7px 15px 7px 35px;
}

.nav-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: currentColor;
}

.login-icon,
.cart-nav-icon {
    transform: translateX(14px);
    left: 0;
}

.search-icon {
    right: 0;
    left: 0;
}

.search-link {
    padding: 15px;
}

/* nav items states */

/* text */

.nav-link.current:not(.logo):not(.btn-style) {
    background: #FF4A78;
    color: #FCFCFC;
    padding: 8px 16px;
    border-radius: 30px;
    margin: auto 0;
}

.nav-link:hover:not(.logo):not(.btn-style):not(.current) {
    background: rgba(252, 252, 252, 0.5);
    padding: 8px 16px;
    border-radius: 30px;
    margin: auto 0;
    border-style: none;
}

.nav-link:focus:not(.logo):not(.btn-style):not(.current) {
    background: rgba(252, 252, 252, 0.5);
    border: 2px solid #2D3440;
    padding: 6px 14px;
    border-radius: 30px;
    margin: auto 0;
}

.nav-link:active:not(.logo):not(.btn-style):not(.current) {
    background: #FCFCFC;
    padding: 8px 16px;
    border-radius: 30px;
    margin: auto 0;
    border-style: none;
}

/* icons & text+icons*/

.nav-link-user:hover:not(.current) {
    background: rgba(252, 252, 252, 0.5);
    border: 2px solid transparent;
}

.nav-link-user:focus:not(.current) {
    background: rgba(252, 252, 252, 0.5);
    border: solid 2px #2D3440;
}

.nav-link-user:active:not(.current) {
    background: #FCFCFC;
    border: 2px solid transparent;
}

.nav-link-user.current {
    background: #FF4A78;
    color: #FCFCFC;
    border: 2px solid transparent;
}

/* Mainpage slider */

.slider {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.slide {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: start;
}

.slide-images {
    display: flex;
    flex-grow: 1;
    width: 609px;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-image {
    list-style: none;
    margin: auto;
    position: relative;
}

.slider-image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    left: calc(50% - 100px/2);
    top: calc(50% - 100px/2);
    background: #FFCBD8;
    opacity: 0.4;
    z-index: -1;
}

.slider-image:not(.current)+.slider-image {
    margin-left: 16px;
}

.slider-image:last-child {
    margin-right: 16px;
}

.slider-image.current {
    margin: 21px;
}

.slider-image.current::before {
    content: "";
    position: absolute;
    background-color: #FFCBD8;
    border-radius: 156px;
    width: 312px;
    height: 312px;
    left: calc(50% - 312px/2 + 3px);
    top: calc(50% - 312px/2);
    z-index: -1;
}

.slide-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 70px;
    padding-right: 21px;
    max-height: 100%;
    max-width: 450px;
    margin-top: auto;
    margin-bottom: auto;
}

.slide-title {
    margin: auto 0;
}

.slide-description {
    margin: 24px 0 50px;
}

.pagination-social {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: baseline;
    margin-top: auto;
    bottom: 26px;
}

/* Slider btns */

.slider-buttons {
    display: flex;
    justify-content: space-between;
    width: 348px;
    position: absolute;
    top: 259px;
    left: 544px;
}

.slider-btn {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    background: rgba(252, 252, 252, 0.3);
    background-repeat: no-repeat;
    border-radius: 18px;
    border: 2px solid #FCFCFC;
    color: #FCFCFC;
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin: 0;
}

.slider-btn-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    fill: currentColor;
}

.slider-btn+.slider-btn {
    margin-left: 276px;
}

/* Slider btns states */

.slider-btn:hover {
    background-color: rgba(252, 252, 252, 0.5);
    border-style: none;
}

.slider-btn:focus {
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #2D3440;
    color: #2D3440;
}

.slider-btn:active {
    background-color: #FCFCFC;
    border-style: none;
    color: #2D3440;
}

.slider-btn:disabled {
    background-color: rgba(252, 252, 252, 0.3);
    border: #FCFCFC;
    color: #FCFCFC;
    opacity: 0.4;
}

/* Slider pagination */

.slider-pagination {
    display: flex;
    margin-top: auto;
}

.slider-pagination-item {
    appearance: none;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 100px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin: 0 4px;
}

.slider-pagination-item:first-child {
    margin-left: 0;
}

/* Slider pagination states */

.slider-pagination-item.current {
    background: rgba(252, 252, 252, 1);
}

.slider-pagination-item:hover {
    border: 1px solid #FCFCFC;
}

.slider-pagination-item:focus {
    background: rgba(252, 252, 252, 0.3);
    border: 1px solid #2D3440;
}

.slider-pagination-item:active {
    background: rgba(252, 252, 252, 0.5);
    border-style: none;
}

.slide-2,
.slide-3 {
    display: none;
}

/* Special offeting */

.special-offering {
    margin: 56px 0 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
 }

.special-offering-header {
    text-align: center;
    margin: 0;
}

.special-offering-list {
    margin: 55px 0 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 570px 570px;
    gap: 30px;
}

.special-offering-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 206px 36px 36px;
    max-height: 100%;
    border-radius: 16px;
    background: #FF7799;
    background-repeat: no-repeat;
    background-position: 100%;
}

.special-offering-dscr {
    color: #2D3440;
    margin: 28px 0;
}

.gift-raspberry {
    background-image: url("images/Raspberry-gift.png");
}

.gift-marshmallow {
    background-image: url("images/marshmallow-gift.png");
}

/* Product list */

.products-list-section {
    display: flex;
    flex-direction: column;
}

.products-list-header {
    text-align: center;
    margin: 60px 0 106px;
}

.products-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    gap: 90px 30px;
}

.products-list-item {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background: #FCFCFC;
    border-radius: 8px;
}

.product-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}

.product-image {
    margin: -51px auto 0;
    width: 168px;
    max-height: 168px;
    border-radius: 168px;
}

.product-info {
    justify-content: space-between;
    padding: 16px 40px 22px;
    text-align: center;
    flex-grow: 1;
}

.product-name {
    margin: 0;
}

.product-description {
    margin: 8px 0;
}

.price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.price {
    margin: 7px 0;
    letter-spacing: normal;
}

.btn-add-cart {
    background-image: url("images/Cart-white.svg");
    background-color: #FF2F64;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px;
    border: 2px solid #FF2F64;
    border-radius: 32px;
    align-self: center;
    position: relative;
    cursor: pointer;
    color: #FCFCFC;
}

.cart-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    right: 0;
    margin: auto;
    fill: currentColor;
}

/* Btn-add-cart states */

.btn-add-cart:hover {
    color: #2D3440;
    background-color: #FCFCFC;
    border: 2px solid #FF2F64;
}

.btn-add-cart:focus {
    color: #FCFCFC;
    background-color: #FF2F64;
    border: 2px solid #2D3440;
}

.btn-add-cart:active {
    color: #2D3440;
    background-color: #FFCBD8;
    border: 2px solid #FF2F64;
}

.btn-add-cart:disabled {
    color: #565C66;
    background-color: #B9B9B9;
    border: 2px solid #B9B9B9;
}

/* Advantages */

.advantades {
    margin: 80px 0 40px 0;
    background-image: url("images/waffel-background.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 24px;
    max-width: 100%;
    background-size: cover;
}

.advantades-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 56px 40px;
}

.advantades-h2 {
    text-align: center;
    margin: 0;
}

.advantades-list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 33px;
    list-style: none;
    padding: 0;
    margin: 56px 0 0 0;
}

.advantades-item {
    position: relative;
    margin: 0;
    margin-left: 64px;
}

.advantades-item::before {
    content: "";
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 32px auto;
    position: absolute;
    width: 48px;
    height: 48px;
    border: 2px solid #2D3440;
    border-radius: 48px;
    padding: 8px;
    margin-left: -63px;
    margin-top: -1px;
    background-position: 6px 6px;
}

.advantades-item.technologies::before {
    background-image: url("images/ice-cream.svg");
}

.advantades-item.ingredients::before {
    background-image: url("images/cow.svg");
}

.advantades-item.quality::before {
    background-image: url("images/leaf.svg");
}

.advantades-item.delivery::before {
    background-image: url("images/thermometer.svg");
}

/* Learn more */

.mainpage-learn-more {
    margin: 80px 0 80px 0;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    min-height: 224px;
    justify-content: space-between;
}

.article-preview {
    background-image: url("images/news.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    max-width: 570px;
}

.blog-prev {
    padding-left: 32px;
    padding-top: 32px;
    margin: 0 0 12px;
}

.blog-prev-h {
    padding-left: 32px;
    padding-right: 235px;
    margin: 0;
}

.subscribe-email {
    display: flex;
    background-image: url("images/subscribe.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    max-width: 570px;
    margin: 0;
    padding: 6px;
}

.subscribe-email-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 26px 26px 28px;
    margin: 0;
    max-width: 506px;
    max-height: 100%;
}

.subscribe-email-p {
    margin: 0 auto;
}

.subscribe {
    display: flex;
    justify-content: space-between;
}

.field {
    background: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #B9B9B9;
    border-radius: 4px;
    padding: 13px 17px 13px;
    font-weight: 400;
    font-size: 16px;
    color: #B9B9B9;
    line-height: 20px;
    margin: 0;
}

.subscribe-email .field {
    flex-grow: 1;
    margin-left: 0;
    margin-right: 22px;
}

/* Delivery */

.mainpage-delivery {
    margin: 40px 0 40px 0;
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-image: url("images/delivery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 64px 64px 64px 100px;
}

.delivery-discr {
    display: flex;
    flex-direction: column;
    padding-right: 135px;
    margin-top: auto;
    margin-bottom: auto;
}

.delivery-discr-h {
    margin: 8px 0 24px 0;
}

.delivery-discr-p {
    margin: auto;
}

.delivery-form-wrapper {
    background: #FCFCFC;
    box-shadow:0 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    max-width: 420px;
    min-height: 100%;
    margin: 0;
    padding: 40px 40px 42px;
}

.delivery-form-p {
    margin: 0 0 32px;
}

.delivery-form {
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 16px;
}

.delivery-address {
    grid-column: 1 / -1;
}

.delivery-btn {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 13px;
    padding: 14px 32px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.form-label.style-pb {
    margin-bottom: 8px;
    color: #2D3440;
}

.delivery-form .info {
    display: none;
  }

/* Address */

.address {
    margin: 80px 0 0 0;
    background-image: url("images/contacts.jpg");
    background-position: center;
    background-size: cover;
    padding: 64px 763px 64px 64px;
    max-width: 100%;
    min-height: 100%;
    border-radius: 18px;
}

.address-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 284px;
    background: #FCFCFC;
    box-shadow:0 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    padding: 40px;
    font-style: normal;
}

.address-office {
    margin: 0 0 12px;
}

.style-h4 a {
    text-decoration: none;
    color: #2D3440;
}

.tel-c1 {
    margin: 24px 0 12px;
}

.tel-c2 {
    margin: 0;
}

.feedback-btn {
    margin-top: 32px;
    padding: 14px 32px;
}

/* Breadcrumb */

.breadcrumb-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.breadcrumb-link {
    font-style: normal;
    text-decoration: none;
    color: #2D3440;
}

.breadcrumb-link.current {
    border-bottom: 1px solid #2D3440;
}

.breadcrumb-menu-item:not(:last-child)::after {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    content: "";
    background-image: url(images/chevrons-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 4px;
}

.catalog-h2 {
    margin: 15px auto 40px;
}

.catalog {
    margin-top: 30px;
}

/* Filters */

form.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 75px;
}

.filter {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    margin: 0 24px 16px 0;
}

.filter-select,
.filling-list,
.fat-list,
.price-range {
    display: flex;
    align-items: center;
    background: rgba(252, 252, 252,0.3);
    background-size: 10px 250px;
    border-radius: 20px;
    border-width: 0;
    list-style: none;
    padding: 8px 24px 8px 16px;
    margin-top: 8px;
    margin-bottom: 0;
}

.filter-select {
    padding: 11px 24px 10px 16px;
}

.filter-title {
    margin-left: 18px;
}

.filter-item {
    list-style: none;
}

.filters-btn {
    margin: 0 24px 16px 0;
    align-self: self-end;
}

/* Catalog pagination */

.catalog-more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px 0 25px;
    margin: 16px 0 42px;
}

.catalog-pagination {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    align-items: center;
}

.catalog-pagination-item {
    list-style: none;
}

.catalog-pagination-link {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    width: 24px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
    border: 1px solid transparent;
    margin: auto 0;
    border-radius: 16px;
}

.catalog-pagination-item.arrow-left {
    margin-right: 6px;
}

.catalog-pagination-item.arrow-right {
    margin-left: 8px;
}

.pgn-btn-arrow {
    fill: currentColor;
}

.catalog-pagination-link.current {
    background: #FCFCFC;
    border-color: #FCFCFC;
}

.catalog-pagination-link:not(.current):not(.arrow):hover {
    background: rgba(252, 252, 252, 0.5);
}

.catalog-pagination-link:not(.current):not(.arrow):active {
    background: rgba(252, 252, 252, 0.5);
    border-color: #FCFCFC;
}

.catalog-pagination-link:not(.current):not(.arrow):focus {
    background: rgba(252, 252, 252, 0.5);
    border-color: #2D3440;
}

/* Show-more btn */

.show-more {
    grid-column: 2;
    margin: auto;
}

/* Social */

.social {
    display: flex;
    list-style: none;
    justify-self: start;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.social-item {
    line-height: 1;
    margin: 0 8px;
}

.social-item:last-child {
    margin-right: 0;
}

.social-item:first-child {
    margin-left: 0;
}

.social-icon {
    fill: currentColor;
    position: relative;
    top: -1px;
    right: 1px;
}

.social-link {
    background-repeat: no-repeat;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.4);
    border: 1px solid transparent;
    line-height: 1;
    font-size: 0;
    border-radius: 24px;
    color: #FCFCFC;
}

.social-link:hover {
    border: 1px solid #FCFCFC;
    background-color: #2D3440;
}

.social-link:active {
    background-color: #2D3440;
    opacity: 0.5;
}

.social-link:focus {
    background-color: #2D3440;
    box-shadow: 0 0 0 2px #2D3440;
}

/* Footer */

.footer {
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 100%;
    padding: 44px 0;
}

.footer-links {
    align-self: start;
    display: grid;
    grid-template-columns: 126px 182px;
    gap: 9px 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-link {
    text-decoration: none;
    color: #2D3440;
}

.social.footer {
    position: absolute;
    padding: 0;
    left: 0;
    margin-left: 5px;
}

.catalog-footer {
    border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.footer-link-highlight {
    font-weight: 700;
    list-style-image: url("images/Heart-fill.svg");
}

.footer-link-highlight::marker {
    width: 13.94px;
    height: 12.15px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-self: start;
    align-items: flex-start;
    min-width: 193px;
    padding: 0 14px 0 0;
    margin: 0;
    justify-self: end;
    position: absolute;
    right: 0;
}

.footer-copyright-logo {
    display: inline-block;
}

.footer-copyright-caption {
    color: #2D3440;
}
